<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.FileMapper">

    <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO file_meta
        (original_name, saved_name, path, size, content_type, created_at)
        VALUES
        (#{originalName}, #{savedName}, #{path}, #{size}, #{contentType}, NOW())
    </insert>

    <select id="findFileById" resultType="com.example.domain.FileMeta">
        SELECT
            file_id AS fileId,
            original_name AS originalName,
            saved_name AS savedName,
            path,
            size,
            content_type AS contentType,
            created_at AS createdAt
        FROM file_meta
        WHERE file_id = #{fileId}
    </select>

</mapper>
